:root {
    --primary-font: 'Unica One', cursive;
    --secondary-font: 'Crimson Pro', serif;
    --border-radius: 4px;
    --black: #1A1820;
    --white: #fff;
    --green: #52CA5E;
}

body {
    background-color: var(--black);
    color: #fff;
    font-family: var(--secondary-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    text-transform: uppercase;
}

a {
    color: var(--green);
    text-decoration: underline;
}

button {
    border: 0;
    border-radius: var(--border-radius);
    padding: 12px 24px;
}

button:hover {
    cursor: pointer;
}

input[type="text"] {
    background-color: #fff;
    border: 0;
    border-radius: var(--border-radius);
    padding: 12px;
    width: 100%;
}
