.search-form {
    margin: 50px auto 100px;
    max-width: 1200px;
}

.search-form form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.search-form label {
    margin-right: 12px;
    width: 100%;
}

.search-form button[type="submit"] {
    background-color: var(--green);
}
